##
## Redirect requests to the index.php file except dir or file exists
##
RewriteEngine On
## if request not a file
RewriteCond %{REQUEST_FILENAME} !-f
## if request not a dir
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(index\.php|images|robots\.txt|.*\.css|.*\.js|.*\.ttf|.*\.eot|.*\.svg;|.*\.otf|.*\.woff2|.*\.jpg|.*\.png|.*\.ico)
RewriteRule ^(.*)$ index.php/$1 [L]